@model Web_Estoque_E_Faturamento.ViewModels.ProductContextNecessary


@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
     <h1>Registro de todas as compras realizadas</h1><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#RegisterPurchases">
              Registrar Compras
            </button>
            <!-- Modal -->
            <div class="modal fade" id="RegisterPurchases" tabindex="-1" aria-labelledby="RegisterPurchases" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content modal-lg ">
                  <div class="modal-header">
                    <h5 class="modal-title" id="RegisterPurchases">Digite as Informações sobre a Compras</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <form asp-action = "Create" asp-controller= "ProductInventoryRegisterPurchase" method ="POST">
                            @Html.AntiForgeryToken()

                            @if(Model.Product.ToArray().Length!= 0){
                                
                                <select name="ProductId" class="form-select" aria-label="Zelda ocarina of time" >
                                    <option selected>Clique aqui para ver opções de produtos</option>
                                    @foreach(var ProductPurchases in Model.Product){
                                    <option name="ProductId" value="@ProductPurchases.Id">@ProductPurchases.Name</option>


                                    }


                                </select>
                            } else{
                                <h2> Não existe produtos cadastrados no banco de dados :(</h2>
                            }
                            
                            @if(Model.Provider.ToArray().Length !=0){
                                    <select name="ProviderId" class="form-select" aria-label="Default select example">
                                        <option selected>Clique aqui para ver opções de fornecedores</option>
                                        @foreach (var ProviderPurchases in Model.Provider)
                                        {
                                                <option name="ProviderId" value="@ProviderPurchases.Id">@ProviderPurchases.Name</option>

                                        }



                                    </select>
                            }else{
                                        <h2>Não há fornecedores cadastrados. @Html.ActionLink("Ir para fornecedores.","Index","Provider")</h2>
                            }
                            
                            <div></div>
                            
                            
                            
                            <div class="input-group mb-3">
                              
                              <label for="DateOfPurchase" class="col-sm-2 col-form-label">Data da compra</label>
                              <input class="form-control" id="DateOfPurchase" type="date" name="DateOfPurchase" id="DateOfPurchase">
                              <div class="input-group mb-3">
                                <span class="input-group-text">Preço Unitário R$</span>
                                
                                <input name="PriceProductUnity" placeholder="Preço Unitário" type="number" step="0.01"  class="form-control" aria-label="Amount (to the nearest dollar)">
                                
                              </div>
                            </div>
                            <div class="input-group mb-3">


                             
                             

                                <input name="DanfeNumber" id="Danfe" placeholder="Número da nota (Danfe)" type="number"   class="form-control" aria-label="Amount (to the nearest dollar)">
                               <input name="Serie" id="Serie" placeholder="Número de série da nota)" type="number"   class="form-control" aria-label="Amount (to the nearest dollar)">


                              


                            </div>

                           
                            <div class="input-group mb-3">
                              <label for="QuantityBuyed" class="col-sm-2 col-form-label">Quantidade de itens comprados</label>
                              <input class="form-control form-control-sm" placeholder="Quntidade de Itens" step="0.01"  id="QuantityBuyed" type="number" name="QuantityBuyed" id="QuantityBuyed">
                            </div>
                            <div class="input-group mb-3">
                              <label for="PriceOfPurchase" class="col-sm-2 col-form-label">Preço total gasto com esse item </label>
                              <span class="input-group-text">R$</span>
                              <input class="form-control" id="PriceOfPurchase" type="number" step="0.01" placeholder="Preço total" name="PriceOfPurchase" id="PriceOfPurchase">
                            </div>
                         
                            <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Registra Compra" class="btn btn-primary">
                                <input type="submit" value="Registrar a compra atual e continuar a registra outras" class="btn btn-primary" >
                              </div>
                          

                         </form>

                         
                   </div>
                  
                 
                </div>
              </div>
            </div>
        
        
          
        </h1>
        <div class="table-responsive">
        <table class="table table-sm table-striped ">
            <thead>
                <tr>
                    <th>
                        <h4>Product</h4>
                    </th>
                    <th>
                        <h4>Provider</h4>
                    </th>
                    <th>
                        <h4>Price Of Purchase</h4>

                    </th>
                    <th>
                        <h4>Number of Danfe</h4>
                    </th>
                    <th>
                        <h4>Serie</h4>
                    </th>
                    <th>
                        <h4>Date Of Purchase</h4>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
             @foreach(var item in Model.ProductInventoryRegisterPurchase){

                    <tr>

                        <td>
                            <p class="text-break">@Html.DisplayFor(modelItem => item.Product.Name)</p>
                        </td>
                        <td>
                            <p class="text-break">@Html.DisplayFor(modelItem => item.Provider.Name)</p>
                        </td>
                        <td>
                            <p class="text-break">R$@Html.DisplayFor(modelItem => item.PriceOfPurchase)</p>

                        </td>
                        <td>
                            <p class="text-break">@Html.DisplayFor(modelItem => item.DanfeNumber)</p>

                        </td>
                        <td>
                            <p class="text-break">@Html.DisplayFor(modelItem => item.Serie)</p>

                        </td>
                        <td>
                            <p class="text-break">@Html.DisplayFor(modelItem => item.DateOfPurchase)</p>

                        </td>

                        <td>

                            <a class="btn btn-primary" href='@Url.Action("Details","ProductInventoryRegisterPurchase", new{id=@item.Id})' role="button">Detalhes</a>

                        </td>
                    </tr>
        

                
             }
                  

            </tbody>
        </table>

        
@if(ViewData["ShowModalWithDetailsOfSpecificPurchase"] == "true"){
  
  
      
      <div class="modal fade" id="DetailsProduct" tabindex="-1" aria-labelledby="DetailsProduct" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content modal-xl ">
            <div class="modal-header">
              <h5 class="modal-title" id="DetailsProduct">Informações</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <div class="modal-body">
                    <h1></h1>
                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <label class="btn btn-dark"  for="ProductName">Nome do produto:</label>
                            <button type="button" class="btn btn-secondary">@Model.ProducInventoryPurchase.Product.Name</button>
                          </div>
                          <div class="col">
                            <label class="btn btn-dark"  for="ProductName">Descrição</label>
                            <button type="button" class="btn btn-secondary">@Model.ProducInventoryPurchase.Product.Description</button>
                          </div>
                          <div class="col">
                            <label class="btn btn-dark"  for="ProductName">Data de criação</label>
                            <button type="button" class="btn btn-secondary">@Model.ProductInventory.Product.DateOfCreation</button>
                          </div>
                        </div>     
                        <div class="col">
                          <label class="btn btn-dark"  for="ProductName">Quantidade no Estoque</label>
                         <button type="button" class="btn btn-secondary">@Model.ProductCommon.ProductInventory.QuantityInStock</button>
                        </div>
                        <div align="Center">
                          <h4>Record of all purchases</h4>
                        </div>
                        <table class="table  table-striped">
                          <thead>
                            <tr>
                              
                              <th scope="col">Name of Provider</th>
                              <th scope="col">Price Of Purchase</th>
                              <th scope="col">Price Of unity</th>
                              <th scope = "col">Date of Purchase</th>
                            </tr>
                          </thead>
                        
                        <tbody>
                        @foreach(var value in Model.ProductInventoryRegisterPurchase ){
                            
                            <tr>
                              
                              <td>@value.Provider.Name</td>
                              <td>R$ @value.PriceOfPurchase</td>
                              <td>R$ @value.PriceProductUnity</td>
                              <td>@value.DateOfPurchase</td>
                            </tr>
                            
                         
                        
                        }
                        </tbody>
                        </table>
                    
                    
                    </div>
              </div>
          </div>
        </div>
      </div>
          
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        <script type="text/javascript" src="js/bootstrap.js"></script>

        <script type="text/javascript">$(window).load(function() {
            $('#DetailsProduct').modal('show');
        });
        </script>

}
