@model Web_Estoque_E_Faturamento.ViewModels.ProductContextNecessary



@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
}


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Gerenciamento  de Produtos Cadastrados</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            
            <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Compatilhar</button>
            
            

     
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#NewProductModal">
              Criar novo produto
            </button>
           
            <div class="modal fade" id="NewProductModal" tabindex="-1" aria-labelledby="NewProductModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content modal-lg ">
                  <div class="modal-header">
                    <h5 class="modal-title" id="NewProductModalLabel">Informações</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <form action="/Product/Create" method = "Post">
                           @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                              <label for="CodeProductLabel" class="form-label">Código do Produto</label>
                              <input type="text" required class="form-control" id="CodeProductLabel" name="Code" placeholder="(Por favor, coloque o código original do produto, pois facilitará as pesquisas futuramente)">
                            </div>
                            <div class="mb-3">
                              <label for="NameProductLabel"  class="form-label">Nome do Produto</label>
                              <input type="text" maxlength="300" required class="form-control" name="Name" id="NameProductLabel" placeholder="Digite o nome do produto">
                            </div>
                            <div class="mb-3">
                              <label for="DescriptionProductLabel" class="form-label">Descrição do Produto</label>
                              <textarea class="form-control" required id="DescriptionProductLabel" name="Description" rows="3"></textarea>
                            </div>
                            

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <input type="submit" value="Create" class="btn btn-primary">
                              </div>
                         </form>

                         
                   </div>
                  
                 
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            Essa semana 
          </button>
        </div>
      </div>
      
    <div class="table-responsive">
        <table class="table table-sm table-striped ">
            <thead>
                <tr>
                    <th>
                        <h4>Code</h4>
                    </th>
                    <th>
                        <h4>Name</h4>
                    </th>
                    <th>
                        <h4>Description</h4>
                    </th>
                    <th>
                        <h4>Date of creation</h4>
                    </th>
                    <th></th>
                 </tr>
            </thead>
            <tbody>
             @foreach (var item in Model.Product) {

                    <tr>
                    
                      <td >
                          <p class="text-break">@Html.DisplayFor(modelItem => item.Code)</p> 
                      </td>
                      <td>
                          <p class="text-break">@Html.DisplayFor(modelItem => item.Name)</p> 
                      </td>
                      <td>
                          <p class="text-break">@Html.DisplayFor(modelItem => item.Description)</p>
                          
                      </td>
                      <td>
                          <p class="text-break">@Html.DisplayFor(modelItem => item.DateOfCreation)</p>
                          
                      </td>
                
                      <td>
                          <a class="btn btn-info" href='@Url.Action("Edit","Product", new{id=@item.Id})' role="button">Editar</a>
                          <a class="btn btn-danger" href='@Url.Action("Delete","Product", new{id=@item.Id})' role="button">Apagar</a>
                          <a class="btn btn-primary" href= '@Url.Action("Details","Product", new{id=@item.Id})'  role="button">Detalhes</a>
                          
                          
                      </td>
                </tr>
        


             }
                  

            </tbody>
        </table>
    </div>

@if(ViewData["ShowModalWithDetailsOfProduct"] == "true"){
  
  
      
      <div class="modal fade" id="DetailsProduct" tabindex="-1" aria-labelledby="DetailsProduct" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
          <div class="modal-content modal-xl ">
            <div class="modal-header">
              <h5 class="modal-title" id="DetailsProduct">Informações</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
              <div class="modal-body">
                    <h1></h1>
                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <label class="btn btn-dark"  for="ProductName">Nome do produto:</label>
                            <button type="button" class="btn btn-dark">@Model.ProductCommon.Name</button>
                          </div>
                          <div class="col">
                            <label class="btn btn-dark"  for="ProductName">Descrição</label>
                            <button type="button" class="btn btn-dark">@Model.ProductCommon.Description</button>
                          </div>
                          <div class="col">
                            <label class="btn btn-dark"  for="ProductName">Data de criação</label>
                            <button type="button" class="btn btn-dark">@Model.ProductCommon.DateOfCreation</button>
                          </div>
                        </div>     
                        <div class="row">
                          <label class="btn btn-dark"  for="ProductName">Quantidade no Estoque</label>
                         <button type="button" class="btn btn-dark">@Model.ProductCommon.ProductInventory.QuantityInStock</button>
                        </div>
                        <table class="table">
                          <thead>
                            <tr>
                              
                              <th scope="col">Name of Provider</th>
                              <th scope="col">Price Of Purchase</th>
                              <th scope="col">Price Of unity</th>
                              <th scope = "col">Date of Purchase</th>
                            </tr>
                          </thead>
                        
                        <tbody>
                        @foreach(var value in Model.ProductCommon.ProductInventory.ProductInventoryRegisterPurchase){
                            
                            <tr>
                              
                              <td>@value.Provider.Name</td>
                              <td>R$ @value.PriceOfPurchase</td>
                              <td>R$ @value.PriceProductUnity</td>
                              <td>@value.DateOfPurchase</td>
                            </tr>
                            
                         
                        
                        }
                        </tbody>
                        </table>
                    
                    
                    </div>
              </div>
          </div>
        </div>
      </div>
          
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

        <script type="text/javascript" src="js/bootstrap.js"></script>

        <script type="text/javascript">$(window).load(function() {
            $('#DetailsProduct').modal('show');
        });
        </script>

}
</main>





<div>
    <a asp-action="Index">Backs to List</a>

</div>

