@model Web_Estoque_E_Faturamento.ViewModels.DashBoardContextNecessary


@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
}


<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Painel de Controle</h1>
         <!-- Button trigger modal -->
            <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#RegisterPurchases">
              Registrar Compras
            </button>
            <!-- Modal -->
            <div class="modal fade" id="RegisterPurchases" tabindex="-1" aria-labelledby="RegisterPurchases" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content modal-lg ">
                  <div class="modal-header">
                    <h5 class="modal-title" id="RegisterPurchases">Digite as Informações sobre a Compras</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                        <form asp-action = "Create" asp-controller= "ProductInventoryRegister" method ="POST">
                            @Html.AntiForgeryToken()

                            <select name ="Product" class="form-select" aria-label="Default select example">
                               
                              <option  name ="Product" selected>Clique aqui para escolher o produto</option>
                              @foreach(var product in Model.Product){
                                  <option name ="Product"  value="@product">@product.Name</option>
                              
                              }

                              
                            </select>
                            
                            <select name ="Provider" class="form-select" aria-label="Default select example">
                               
                              <option  name ="Provider" selected>Clique aqui para escolher o Fornecedor</option>
                              @foreach(var provider in Model.Provider){
                                  <option name ="Provider" value="@provider">@provider.Name</option>
                              
                              }

                              
                            </select>
                            <div></div>
                            
                            

                            <div class="input-group mb-3">
                              <label for="DateOfPurchase" class="col-sm-2 col-form-label">Data da compra</label>
                              <input class="form-control" id="DateOfPurchase" type="date" name="DateOfPurchase" id="DateOfPurchase">
                              <div class="input-group mb-3">
                                <span class="input-group-text">R$</span>
                                <input placeholder="Preço Unitário" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
                                
                              </div>
                            </div>
                           
                            <div class="input-group mb-3">
                              <label for="QuantityBuyed" class="col-sm-2 col-form-label">Quantidade de itens comprados</label>
                              <input class="form-control form-control-sm" placeholder="Quntidade de Itens" id="QuantityBuyed" type="number" name="QuantityBuyed" id="QuantityBuyed">
                            </div>
                            <div class="input-group mb-3">
                              <label for="PriceOfPurchase" class="col-sm-2 col-form-label">Preço total gasto com esse item </label>
                              <span class="input-group-text">R$</span>
                              <input class="form-control" id="PriceOfPurchase" type="number" placeholder="Preço total" name="PriceOfPurchase" id="PriceOfPurchase">
                            </div>
                         
                            <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <input type="submit" value="Registra Compra" class="btn btn-primary">
                                <input type="submit" value="Registrar a compra atual e continuar a registra outras" class="btn btn-primary" >
                              </div>
                          

                         </form>

                         
                   </div>
                  
                 
                </div>
              </div>
            </div>
        
    </div>
    <table class="table">
        @foreach(var product in Model.Product){
            <h1>@product.Name</h1>
        }
    </table>

</main>



<div>
    <a asp-action="Index">Backs to List</a>

</div>

