@model Web_Estoque_E_Faturamento._Models.ProductListReminderToBuyWithoutUseProductAlreadyRegistered[]


@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
    var ProductsToBuy = ViewBag.ProductsToBuy;
    var ProductsAlreadyBuyed = ViewBag.ProductsAlreadyBuyed;
    var ProductsWillBePurchased = ViewBag.ProductsWillBePurchased;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <h3>Informe o produto que precisa ser comprado:</h3>
        <div class="input-group">
            <form asp-action ="Create" asp-controller="ProductListReminderToBuyWithoutUseProductAlreadyRegistered" method="POST">
                @Html.AntiForgeryToken()
                <input type="checkbox" name="AlreadyBuyed" hidden/>

                <input type="text" hidden name="DateOfCreation" value="@DateTime.Now" />
                <div class="row">
                    <div class="col">

                         <input required  type="text" name = "CodeOfProduct" placeholder="Código do produto" aria-label="First name" class="form-control text-center">    
               
                     </div>
                     <div class="col">
                        <input required type="text" name="NameOfProduct" placeholder= "Nome do produto" aria-label="Last name" class="form-control lg">

                    </div>
                    <div class="col">
                         <input class="btn btn-primary" type="submit" value="Registrar">

                    </div>
                </div>
                
               
                
               

            </form>
            
             
        </div>

            
<div></div>

@if (ProductsToBuy.Length>0)
{
    <div class="table-responsive">

    <table class="table table-sm caption-top table-hover">
        <caption><h3 class="text-center">Produtos que estão em falta</h3> </caption>
      <thead>
        <tr>
      
          <th scope="col">Código do produto</th>
          <th scope="col">Nome do produto</th>
          <th scope="col">Data de adição</th>
          <th scope="col"> <a class="btn btn-primary" href="@Url.Action("ExportToExcelProductsToBuy","ProductListReminderToBuyWithoutUseProductAlreadyRegistered")">Exportar para excel</a>
        </th>
         </tr>
      </thead>
      <tbody>
         @foreach (var  ProductToBuy in ProductsToBuy)
         {
              <tr>
                  <td><p class="text-break">@ProductToBuy.CodeOfProduct</p></td>
                  <td><p class="text-break">@ProductToBuy.NameOfProduct</p></td>
                  <td><p class="text-break">@ProductToBuy.DateOfCreation</p></td>

                
                  <td> 
                      <a class="btn btn-success" href= '@Url.Action("MarkAsPurchased","ProductListReminderToBuyWithoutUseProductAlreadyRegistered", new{id=@ProductToBuy.Id})'>Marcar como já comprado</a>
                      <a class="btn btn-warning" href= '@Url.Action("MarkAsWillBePurchased","ProductListReminderToBuyWithoutUseProductAlreadyRegistered", new{id=@ProductToBuy.Id})'>Adicionar na cotação</a>
                      
                      <a class="btn btn-danger" href= '@Url.Action("DeletePermanently","ProductListReminderToBuyWithoutUseProductAlreadyRegistered", new{id=@ProductToBuy.Id})'>Deletar</a>
                      
                  </td>

              </tr>
         }
   
    
      </tbody>
    </table>
</div>

}
    @if (ProductsWillBePurchased.Length > 0)
    {
        <div class="table-responsive">

            <table class="table table-sm caption-top table-hover">
                <caption><h3 class="text-center">Produtos da Cotação</h3> </caption>
                <thead>
                    <tr>

                        <th scope="col">Código do produto</th>
                        <th scope="col">Nome do produto</th>
                        <th scope="col">Data de adição</th>
                        <th scope="col">
                            <a class="btn btn-primary" href="@Url.Action("ExportToExcelProductsToBuy","ProductListReminderToBuyWithoutUseProductAlreadyRegistered")">Exportar para excel</a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ProductsWillBuy in ProductsWillBePurchased)
                    {
                        <tr>
                            <td><p class="text-break">@ProductsWillBuy.CodeOfProduct</p></td>
                            <td><p class="text-break">@ProductsWillBuy.NameOfProduct</p></td>
                            <td><p class="text-break">@ProductsWillBuy.DateOfCreation</p></td>


                            <td>
                                <a class="btn btn-success" href='@Url.Action("MarkAsPurchased","ProductListReminderToBuyWithoutUseProductAlreadyRegistered", new{id=@ProductsWillBuy.Id})'>Marcar como já comprado</a>
                                <a class="btn btn-secondary" href='@Url.Action("MarkAsNotWillBePurchased","ProductListReminderToBuyWithoutUseProductAlreadyRegistered", new{id=@ProductsWillBuy.Id})'>Remover da cotação</a>

                                <a class="btn btn-danger" href='@Url.Action("DeletePermanently","ProductListReminderToBuyWithoutUseProductAlreadyRegistered", new{id=@ProductsWillBuy.Id})'>Deletar</a>

                            </td>

                        </tr>
                    }


                </tbody>
            </table>
        </div>

    }
@if (ProductsAlreadyBuyed.Length>0)
{
    <div class="table-responsive">

    <table class="table caption-top table-hover">
        <caption><h3 class="text-center">Produtos Já comprados</h3> </caption>
      <thead>
        <tr>
      
          <th scope="col">Código do produto</th>
          <th scope="col">Nome do produto</th>
          <th scope="col">Data de adição</th>
        </tr>
      </thead>
      <tbody>
         @foreach (var  ProductAlreadyBuyed in ProductsAlreadyBuyed)
         {
              <tr>
                  <td>@ProductAlreadyBuyed.CodeOfProduct</td>
                  <td>@ProductAlreadyBuyed.NameOfProduct</td>
                  <td>@ProductAlreadyBuyed.DateOfCreation</td>
                
                  <td> 
                      <a class="btn btn-warning" href= '@Url.Action("MarkAsNotPurchased","ProductListReminderToBuyWithoutUseProductAlreadyRegistered", new{id=@ProductAlreadyBuyed.Id})'>Marcar como não comprado</a>
                      <a class="btn btn-danger" href= '@Url.Action("DeletePermanently","ProductListReminderToBuyWithoutUseProductAlreadyRegistered", new{id=@ProductAlreadyBuyed.Id})'>Deletar</a>
                  </td>

                </tr>
         }
   
    
      </tbody>
    </table>
</div>
}

