@model Web_Estoque_E_Faturamento._Models.ProductListReminderToBuyWithoutUseProductAlreadyRegistered[]


@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
    var ProductsToBuy = ViewBag.ProductsToBuy;
    var ProductsAlreadyBuyed = ViewBag.ProductsAlreadyBuyed;
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <h3>Informe o produto que precisa ser comprado:</h3>
        <div class="input-group">
            <form asp-action ="Create" asp-controller="ProductListReminderToBuyWithoutUseProductAlreadyRegistered" method="POST">
                @Html.AntiForgeryToken()
                <input type="checkbox" name="AlreadyBuyed" hidden/>

                <input type="text" hidden name="DateOfCreation" value="@DateTime.Now" />
                <div class="row">
                    <div class="col">

                         <input required  type="text" name = "CodeOfProduct" placeholder="Código do produto" aria-label="First name" class="form-control text-center">    
               
                     </div>
                     <div class="col">
                        <input required type="text" name="NameOfProduct" placeholder= "Nome do produto" aria-label="Last name" class="form-control lg">

                    </div>
                    <div class="col">
                         <input class="btn btn-primary" type="submit" value="Registrar">

                    </div>
                </div>
                
               
                
               

            </form>
            
            
        </div>

            
<div></div>

<table class="table caption-top table-hover">
    <caption><h3 class="text-center">Lista de Produtos para serem comprados</h3> </caption>
  <thead>
    <tr>
      
      <th scope="col">Código do produto</th>
      <th scope="col">Nome do produto</th>
      <th scope="col">Data de adição</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var  ProductToBuy in ProductsToBuy)
     {
          <tr>
              <td>@ProductToBuy.CodeOfProduct</td>
              <td>@ProductToBuy.NameOfProduct</td>
              <td>@ProductToBuy.DateOfCreation</td>
                
              <td> <a class="btn btn-success" href= '@Url.Action("MarkAsBuyed","ProductListReminderToBuyWithoutUseProductAlreadyRegistered", new{id=@ProductToBuy.Id})'>Marcar como comprado</a></td>
            </tr>
     }
   
    
  </tbody>
</table>
<table class="table caption-top table-hover">
    <caption><h3 class="text-center">Produtos Já comprados</h3> </caption>
  <thead>
    <tr>
      
      <th scope="col">Código do produto</th>
      <th scope="col">Nome do produto</th>
      <th scope="col">Data de adição</th>
    </tr>
  </thead>
  <tbody>
     @foreach (var  ProductAlreadyBuyed in ProductsAlreadyBuyed)
     {
          <tr>
              <td>@ProductAlreadyBuyed.CodeOfProduct</td>
              <td>@ProductAlreadyBuyed.NameOfProduct</td>
              <td>@ProductAlreadyBuyed.DateOfCreation</td>
                
              <td> <a class="btn btn-warning" href= '@Url.Action("MarkAsNotPurchased","ProductListReminderToBuyWithoutUseProductAlreadyRegistered", new{id=@ProductAlreadyBuyed.Id})'>Marcar como não comprado</a></td>
            </tr>
     }
   
    
  </tbody>
</table>