@model IEnumerable<Web_Estoque_E_Faturamento._Models.Provider>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutDashboard";
}

<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
      <h3>Registro de fornecedores</h3>
    <table class="table table-striped-columns">
        <thead>
           <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cnpj)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Andress)
                </th>
                
            
            </tr>
        </thead>
        <tbody>
            @foreach(var provider  in @Model){
                <tr>
                    <td>@provider.Name</td>
                    <td>@provider.Cnpj</td>
                    <td>@provider.Andress</td>
                </tr>
            }
        </table>
  
<form asp-action="Create" asp-controller="Provider"  method= "POST">
    @Html.AntiForgeryToken()
    <input id="Andress" name="Andress" placeholder = "Andress" type="text">
    <input id="Cnpj" name="Cnpj" placeholder ="Cnpj" type="text">
     <input id="Name" name="Name" placeholder="Nome" type="text">
     <input type="submit" value="Enviar">
</form>